# CS 838 Report Stage 3 Entity Matching
* Ying Li, Fan Wu, Wei Li
* {li528,fwu49,wli284}@wisc.edu

## Introduction
Our project aims to developing an entity matcher for resturants information in city San Francisco. Two tables are crawed from TripAdvisor and Yelp website. Each table contains about 3000 tuples for individual resturants with the  attributes including the name, address, zipcode, cuisine, rating, and phone number. 

The raw information crawled from websites is stored in txt file and then pasrsed into csv file by a python script.

### Setting file path

In [1]:
import sys
import py_entitymatching as em
import pandas as pd
import os

In [2]:
# Display the versions
print('python version: ' + sys.version )
print('pandas version: ' + pd.__version__ )
print('magellan version: ' + em.__version__ )

python version: 3.5.2 |Anaconda 2.4.1 (x86_64)| (default, Jul  2 2016, 17:52:12)
[GCC 4.2.1 Compatible Apple LLVM 4.2 (clang-425.0.28)]
pandas version: 0.19.2
magellan version: 0.1.0

In [3]:
import os
os.chdir('.') # replace it with the actual code directory

### List raw rxt dataset

In [4]:
!ls raw_data/

silicon_valley_dataset          yelp_crawling_price_3.txt
tripadvisor_crawling_result.txt yelp_crawling_price_4.txt
yelp_crawling_price_1.txt       yelp_crawling_price_5.txt
yelp_crawling_price_2.txt

Raw txt file containing resturant information crawled from trip advisor

In [5]:
!head -30 raw_data/tripadvisor_crawling_result.txt

----------------------------------------------------------------
title: Don of The Bimini Twist
popularity: #1 of 4,344 Restaurants in San Francisco
rating: 5 of 5 bubbles
price: $$ - $$$
cuisine: Japanese,American,Seafood
phone: 14154951900
food_rating: 5 of 5 bubbles
service_rating: 5 of 5 bubbles
value_rating: 5 of 5 bubbles
atmosphere_rating: 5 of 5 bubbles
price_range: $20 -$100
feature: Free Wifi
mon: 6:00 pm - 11:30 pm
tue: 6:00 pm - 11:30 pm
wed: 6:00 pm - 11:30 pm
thu: 6:00 pm - 11:30 pm
fri: 6:00 pm - 11:30 pm
sat: 6:00 pm - 11:30 pm
sun: 6:00 pm - 11:30 pm
address: SOMA Neighborhood,San Francisco, CA 94107
description: Address:SOMA Neighborhood,San Francisco, CA 94107Location:United States&nbsp;&gt;&nbsp; California (CA)&nbsp;&gt;&nbsp; San FranciscoPhone Number:14154951900trkP:waypoint_for_poiPLACEMENT waypoint_for_poietk

----------------------------------------------------------------
title: Kokkari Estiatorio
popularity: #2 of 4,344 Restaurants in San Francisco
rating: 4.5 of 5 bubbles
price: $$$$
cuisine: Mediterranean,Greek
phone: +1 415-981-0983

Raw txt file containing resturant information crawled from yelp (4 files in total, contains resturants of different prices)

In [6]:
!head -30 raw_data/yelp_crawling_price_1.txt

----------------------------------------------------------------
title: The Temporarium Coffee &amp; Tea
yelpPage: https://www.yelp.com/ /biz/the-temporarium-coffee-and-tea-san-francisco
categories: Coffee & Tea
price: Inexpensive
rating: 5.0 star rating
mon: 7:00 am-3:00 pm
tue: 7:00 am-3:00 pm
wed: 7:00 am-3:00 pm
thu: 7:00 am-3:00 pm
fri: 7:00 am-3:00 pm
sat: 7:00 am-6:30 pm
sun: 8:00 am-6:30 pm
addr: 3414 22nd StSan Francisco, CA 94111
phone: (415) 547-0616
takeout: Yes
creditCard: Yes
applePay: Yes
parking: Street
bikeParking: Yes
outdoorSeating: Yes
wifi: No
caters: No


----------------------------------------------------------------
title: Little Heaven Deli
yelpPage: https://www.yelp.com/ /biz/little-heaven-deli-san-francisco
categories: Creperies,Delis,Bubble Tea
price: Under $10

## Data table pre-processing

### Run parser code to extract attributes from the txt files and write into csv file

In [7]:
!ls script

blocking.py        output.csv         schema_matching.py your_file.csv
file.txt           parse.ipynb        test.txt           your_file.xls

In [8]:
os.chdir('./script/')
!python schema_matching.py
os.chdir('..')

number of entries from tripadvisor_crawling_result: 3000
number of entries from yelp_crawling_price: 3010

Combine four seperate csv files of table B (yelp) into one table B csv file together

In [9]:
# this code block concatenate four yelps csv files in to one yelp file 
yelp1 = pd.read_csv('./managed_data/yelp_crawling_price_1.csv',dtype='str')
yelp2 = pd.read_csv('./managed_data/yelp_crawling_price_2.csv',dtype='str')
yelp3 = pd.read_csv('./managed_data/yelp_crawling_price_3.csv',dtype='str')
yelp4 = pd.read_csv('./managed_data/yelp_crawling_price_4.csv',dtype='str')
yelp5 = pd.read_csv('./managed_data/yelp_crawling_price_5.csv',dtype='str')
yelp_all = pd.concat([yelp1, yelp2, yelp3, yelp4, yelp5],axis=0)
yelp_all.to_csv('./managed_data/yelp_crawling_price_all.csv', index=False)

Data table Pre-treatment: 
* Read the table A and table B files 
* Convert all strings to lowercase for better matching
* Rewrite the converted tables to csv files

In [10]:
# Load csv files as dataframes and set the key attribute in the dataframe
Araw = pd.read_csv('./managed_data/tripadvisor_crawling_result.csv', dtype='str')
Braw = pd.read_csv('./managed_data/yelp_crawling_price_all.csv', dtype='str')

for t in list(Araw):
    Araw[t] = Araw[t].str.lower()
    
for t in list(Braw):
    Braw[t] = Braw[t].str.lower()
Araw.to_csv('./managed_data/tripadvisor_lowercase.csv', index=False)    
Braw.to_csv('./managed_data/yelp_lowercase.csv', index=False)

## Read Table A and Table B and count the number of tuples

In [11]:
path_A = './managed_data/tripadvisor_lowercase.csv'
path_B = './managed_data/yelp_lowercase.csv'
A = em.read_csv_metadata(path_A, key='id', dtype='str')
B = em.read_csv_metadata(path_B, key='id', dtype='str')

print('Number of tuples in A: ' + str(len(A)))
print('Number of tuples in B: ' + str(len(B)))
print('Number of tuples in A X B (i.e the cartesian product): ' + str(len(A)*len(B)))

Number of tuples in A: 3000
Number of tuples in B: 3010
Number of tuples in A X B (i.e the cartesian product): 9030000

In [12]:
A.head(3)

,id,title,cuisine,phone,feature,zipcode,street_addr
0,0,don of the bimini twist,"japanese,american,seafood",4154951900,free wifi,94107,soma neighborhood
1,1,kokkari estiatorio,"mediterranean,greek",4159810983,"reservations, private dining, seating, waitstaff, valet parking, wheelchair accessible, serves ...",94111,200 jackson street
2,2,molinari delicatessen,"italian,delicatessen",4154212337,"takeout, outdoor seating, wheelchair accessible",94133,373 columbus avenue north beach

In [13]:
B.head(3)

,id,title,cuisine,phone,feature,zipcode,street_addr
0,0,the temporarium coffee &amp; tea,coffee & tea,4155470616,"takeout, creditcard, applepay, bikeparking, outdoorseating",94111,3414 22nd street
1,1,little heaven deli,"creperies,delis,bubble tea",4158241293,"delivery, takeout, creditcard, bikeparking, goodforkids, waiterservice",94110,2348 mission street
2,2,zo11 coffee,"coffee & tea,sandwiches,coffee roasteries",4158729880,"takeout, creditcard, applepay, bikeparking",94115,1035 fillmore street

## Blocking candidate pairing set

* Use five strick blocking methods

    1. overlap blocker on title with overlap size =3
    
    2. attribute equivalence blocker on title
    
    3. overlap blocker on address with overlap size =3

    4. attribute equivalence blocker on address
    
    5. attribute equivalence blocker on phone number
    

* Union the result sets togehter

In [14]:
# Attribute Equivalence Blocking 
ab = em.AttrEquivalenceBlocker()
# Overlap Blocking
ob = em.OverlapBlocker()

# Block by Title
# when title size larger than 2, we need overlap=3 at least
CTitle_word_level = ob.block_tables(A, B, 'title', 'title',
                    l_output_attrs=['title', 'cuisine', 'phone', 'feature', 'zipcode', 'street_addr'],
                    r_output_attrs=['title', 'cuisine', 'phone', 'feature', 'zipcode', 'street_addr'],  
                      word_level=True, overlap_size=3, allow_missing=False, n_jobs=4)
# when title size is less than 3, we want exact match
CTitle_equivalence = ab.block_tables(A, B, 'title', 'title',
                    l_output_attrs=['title', 'cuisine', 'phone', 'feature', 'zipcode', 'street_addr'],
                    r_output_attrs=['title', 'cuisine', 'phone', 'feature', 'zipcode', 'street_addr'],  
                      allow_missing=False, n_jobs=4 )

# Block by Address
# when address size larger than 2, we need overlap=3 at least
CAddr_word_level = ob.block_tables(A, B, 'street_addr', 'street_addr',
                    l_output_attrs=['title', 'cuisine', 'phone', 'feature', 'zipcode', 'street_addr'],
                    r_output_attrs=['title', 'cuisine', 'phone', 'feature', 'zipcode', 'street_addr'],  
                      word_level=True, overlap_size=3, allow_missing=False, n_jobs=4)
# when address size is less than 3, we want exact match
CAddr_equivalence = ab.block_tables(A, B, 'street_addr', 'street_addr',
                    l_output_attrs=['title', 'cuisine', 'phone', 'feature', 'zipcode', 'street_addr'],
                    r_output_attrs=['title', 'cuisine', 'phone', 'feature', 'zipcode', 'street_addr'], 
                      allow_missing=False, n_jobs=4 )


# Blocking based on phone number
CPhone = ab.block_tables(A, B, 'phone', 'phone',
                    l_output_attrs=['title', 'cuisine', 'phone', 'feature', 'zipcode', 'street_addr'],
                    r_output_attrs=['title', 'cuisine', 'phone', 'feature', 'zipcode', 'street_addr'],
                    allow_missing=False,n_jobs=4)

# Combine blocker outputs
C = em.combine_blocker_outputs_via_union([CTitle_word_level, CTitle_equivalence, 
                                          CAddr_word_level, CAddr_equivalence, CPhone])
print('Number of tuples in CTitle_word_level: ' + str(len(CTitle_word_level)))
print('Number of tuples in CTitle_equivalence: ' + str(len(CTitle_equivalence)))
print('Number of tuples in CAddr_word_level: ' + str(len(CAddr_word_level)))
print('Number of tuples in CAddr_equivalence: ' + str(len(CAddr_equivalence)))
print('Number of tuples in CPhone: ' + str(len(CPhone)))
print('Number of tuples in C: ' + str(len(C)))

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:00
0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:01

Number of tuples in CTitle_word_level: 442
Number of tuples in CTitle_equivalence: 704
Number of tuples in CAddr_word_level: 3665
Number of tuples in CAddr_equivalence: 1313
Number of tuples in CPhone: 948
Number of tuples in C: 3984

We tried several blocking approaches and decided to use the above approach.

This blocking approach can significantly reduce candidate set size and don't leave out any possible matching pairs.

From the debug_blocker tool, we can see the top tuples are not real matches, because of mismatch in address or restraunt names.

In [15]:
# Debug
dbg = em.debug_blocker(C, A, B, output_size=100)
dbg.head(20)

,_id,similarity,ltable_id,rtable_id,ltable_title,ltable_cuisine,ltable_phone,ltable_feature,ltable_zipcode,ltable_street_addr,rtable_title,rtable_cuisine,rtable_phone,rtable_feature,rtable_zipcode,rtable_street_addr
0,0,0.444444,1791,258,sutter cafe,NaN,4154343309,NaN,94108,330 sutter street,sutter st. cafe,"cafes,delis",4153628342,"takeout, creditcard, bikeparking, goodforkids, waiterservice, caters",94108,450 sutter street
1,1,0.444444,2297,569,cafe cole,cafe,4156687771,seating,94117,609 cole street,cole valley cafe,"coffee & tea,sandwiches,bagels",4156685282,"takeout, creditcard, bikeparking, goodforkids",94117,701 cole street
2,2,0.444444,1918,78,la taqueria menudo,mexican,4153330604,NaN,94112,4591 mission street,la taqueria,mexican,4152857117,"takeout, bikeparking, goodforkids, goodforgroups, outdoorseating",94110,2889 mission street
3,3,0.444444,930,78,la corneta taqueria,"mexican,latin,spanish",4156437001,"seating, wheelchair accessible",94110,2731 mission street,la taqueria,mexican,4152857117,"takeout, bikeparking, goodforkids, goodforgroups, outdoorseating",94110,2889 mission street
4,4,0.444444,2733,1268,yuubi japanese restaurant,japanese,4153862011,"delivery, takeout, reservations, seating, waitstaff, serves alcohol, wine and beer, accepts ame...",94118,501 balboa street,tekka japanese restaurant,"japanese,sushi bars",NaN,"hastv, waiterservice",94118,537 balboa street
5,5,0.444444,23,314,la taqueria,"mexican,latin,fast food, central american,south american",4152857117,"takeout, outdoor seating, seating, wheelchair accessible, serves alcohol",94110,2889 mission street,la corneta taqueria,mexican,4156437001,"reservations, takeout, creditcard, bikeparking, goodforkids, goodforgroups, hastv, caters",94110,2731 mission street
6,6,0.428571,2725,188,rumors sf,bar,NaN,NaN,94103,398 7th street,sf eagle,gay bars,NaN,"bikeparking, goodforgroups, outdoorseating, hastv",94103,398 12th street
7,7,0.416667,984,957,pera - san francisco,"mediterranean,turkish,greek",4157963812,"reservations, seating, waitstaff, serves alcohol",94107,1457 18th street,pizzeria delfina - san francisco,"pizza,italian",4154376800,"takeout, creditcard, bikeparking, goodforkids, outdoorseating, waiterservice",94110,3621 18th street
8,8,0.400000,1128,788,manzoni,italian,4153342251,"reservations, seating, waitstaff, wheelchair accessible",94131,2788 diamond street glen park,glen park station,"dive bars,sports bars,lounges",4153334633,"bikeparking, goodforgroups, hastv",94131,2816 diamond street
9,9,0.400000,680,2725,san tung chinese restaurant,"chinese,asian",4156614233,"takeout, seating, waitstaff, serves alcohol",94122,2240 irving street,san tung,"chinese,korean,asian fusion",4152420828,"takeout, creditcard, bikeparking, goodforkids, goodforgroups, waiterservice",94122,1031 irving street
10,10,0.400000,680,1096,san tung chinese restaurant,"chinese,asian",4156614233,"takeout, seating, waitstaff, serves alcohol",94122,2240 irving street,san tung,"chinese,korean,asian fusion",4152420828,"takeout, creditcard, bikeparking, goodforkids, goodforgroups, waiterservice",94122,1031 irving street
11,11,0.400000,454,1311,intercontinental san francisco,NaN,4156166500,"reservations, waitstaff, wheelchair accessible, serves alcohol",94103,888 howard street,san francisco champagne society,champagne bars,NaN,"reservations, creditcard, goodforgroups, hastv",94103,1097 howard street
12,12,0.400000,2646,2198,san francisco soup company,"soups,american,fast food",NaN,"takeout, seating",94104,50 post street,rif san francisco,"shoe stores,accessories,men's clothing",4156587108,"creditcard, bikeparking",94115,1630 post street
13,13,0.400000,2702,2911,bissap and little baobab,NaN,4158269287,reservations,94110,3372 19th street,little baobab,senegalese,4156433558,"reservations, takeout, bikeparking, goodforgroups, hastv, waiterservice",94110,3380 19th street
14,14,0.400000,2621,163,velo rogue cafe,cafe,NaN,NaN,94118,796 arguello boulevard,the velo rouge cafe,"coffee & tea,breakfast & brunch,sandwiches",4157527799,"takeout, creditcard, bikeparking, goodforkids, outdoorseating",94118,798 arguello boulevard
15,15,0.400000,466,1287,jane on fillmore,"american,cafe,gluten free options",4159314163,"takeout, seating, wheelchair accessible",94115,2123 fillmore street,dosa on fillmore,indian,4154413672,"reservations, takeout, creditcard, applepay, bikeparking, goodforgroups, waiterservice, caters",94115,1700 fillmore street
16,16,0.400000,1918,314,la taqueria menudo,mexican,4153330604,NaN,94112,4591 mission street,la corneta taqueria,mexican,4156437001,"reservations, takeout, creditcard, bikeparking, goodforkids, goodforgroups, hastv, caters",94110,2731 mission street
17,17,0.400000,466,1313,jane on fillmore,"american,cafe,gluten free options",4159314163,"takeout, seating, wheelchair accessible",94115,2123 fillmore street,1300 on fillmore,"lounges,american (new),venues & event spaces",4157717100,"reservations, takeout, creditcard, goodforgroups, waiterservice, caters",94115,1300 fillmore street
18,18,0.400000,1830,1133,mission bar,NaN,4156472300,NaN,94110,2695 mission street,mission street oyster bar,"seafood,fish & chips",4156216987,"reservations, takeout, creditcard, bikeparking, goodforkids, goodforgroups, hastv, waiterservice...",94110,2282 mission street
19,19,0.400000,93,1313,dosa on fillmore,"indian,healthy,vegetarian friendly,vegan options,gluten free options",4154413672,"serves alcohol, full bar, reservations, seating, waitstaff, accepts american express, accepts m...",94115,1700 fillmore street,1300 on fillmore,"lounges,american (new),venues & event spaces",4157717100,"reservations, takeout, creditcard, goodforgroups, waiterservice, caters",94115,1300 fillmore street

## Train and Test Learning-based entity-matching

We downsampled 500 tuples from blocked set C and labeled it manually.

We selected 150 tuples first to see the density of matching tuples. The initial down sampled S set contains very few matching, about 5 in 150. Then we went back to modify the blocking approaches and did the down sampling again. After several iterations, we finally get the sampled S with reasonable high density.

The final blocking approach is shown above. We sampled 500 tuples, labeled them and saved the labeled data into csv file. So we can simply load the saved labeled data to do the learning-based entity-matching.

In [16]:
S = em.sample_table(C, 500)

In [34]:
C.to_csv('All_candidate.csv', index=False)

For simplicity, we directly load our previously labeled csv file

In [17]:
import numpy as np
path_gold = './managed_data/labeled_all.csv'
G = em.read_csv_metadata(path_gold, key='_id', ltable=A, rtable=B, 
                          fk_ltable='ltable_id',fk_rtable='rtable_id',dtype='str')

In [36]:
M

,_id,ltable_id,rtable_id,ltable_title,ltable_cuisine,ltable_phone,ltable_feature,ltable_zipcode,ltable_street_addr,rtable_title,rtable_cuisine,rtable_phone,rtable_feature,rtable_zipcode,rtable_street_addr,gold
0,0,0,2285,don of the bimini twist,"japanese,american,seafood",4154951900,free wifi,94107,soma neighborhood,the bimini twist,"personal chefs,american (new)",4154951900,"reservations, creditcard, bikeparking, goodforgroups, waiterservice, caters",94107,188 king street ph7,0
1,1,1,1267,kokkari estiatorio,"mediterranean,greek",4159810983,"reservations, private dining, seating, waitstaff, valet parking, wheelchair accessible, serves ...",94111,200 jackson street,kokkari estiatorio,"greek,mediterranean",4159810983,"reservations, creditcard, bikeparking, goodforgroups, waiterservice",94111,200 jackson street,0
2,2,10,1105,taylor street coffee shop,"american, contemporary,cafe",4155674031,"takeout, seating, waitstaff",94102,375 taylor street,taylor street coffee shop,"breakfast & brunch,burgers,sandwiches",4155674031,"takeout, creditcard, bikeparking, goodforkids, waiterservice",94102,375 taylor street,0
3,3,10,2734,taylor street coffee shop,"american, contemporary,cafe",4155674031,"takeout, seating, waitstaff",94102,375 taylor street,taylor street coffee shop,"breakfast & brunch,burgers,sandwiches",4155674031,"takeout, creditcard, bikeparking, goodforkids, waiterservice",94102,375 taylor street,0
4,4,10,2902,taylor street coffee shop,"american, contemporary,cafe",4155674031,"takeout, seating, waitstaff",94102,375 taylor street,taylor street coffee shop,"breakfast & brunch,burgers,sandwiches",4155674031,"takeout, creditcard, bikeparking, goodforkids, waiterservice",94102,375 taylor street,0
5,5,100,2259,quince,NaN,4157758500,"waitstaff, parking available, valet parking, wheelchair accessible, serves alcohol, full bar, a...",94133,470 pacific avenue,quince,"french,italian",4157758500,"reservations, creditcard, goodforgroups, waiterservice",94133,470 pacific avenue,0
6,6,1000,1308,piqueos,"peruvian,latin,spanish",4152828812,"reservations, seating, waitstaff, serves alcohol",94110,830 cortland,piqueos,"latin american,peruvian",4152828812,"reservations, takeout, creditcard, bikeparking, goodforgroups, outdoorseating, waiterservice",94110,830 cortland avenue,0
7,7,1001,1820,lobster me,"american,seafood,fast food",NaN,"takeout, seating, wheelchair accessible",94103,865 market street in westfield,spa nordstrom,"day spas,massage,cosmetics & beauty supply",4159775102,creditcard,94103,865 market street,0
8,8,1001,1989,lobster me,"american,seafood,fast food",NaN,"takeout, seating, wheelchair accessible",94103,865 market street in westfield,club monaco san francisco - womens,women's clothing,4158560828,"creditcard, bikeparking",94108,865 market street,0
9,9,1001,2616,lobster me,"american,seafood,fast food",NaN,"takeout, seating, wheelchair accessible",94103,865 market street in westfield,soho,accessories,4155431021,creditcard,94105,865 market street,0
10,10,1001,2864,lobster me,"american,seafood,fast food",NaN,"takeout, seating, wheelchair accessible",94103,865 market street in westfield,soho,accessories,4155431021,creditcard,94105,865 market street,0
11,11,1005,293,angel cafe,cafe,NaN,"outdoor seating, seating, takeout",2244,700 geary street,angel cafe &amp; deli,"coffee & tea,sandwiches",4159313467,"reservations, takeout, creditcard, applepay, bikeparking, goodforkids, outdoorseating, hastv, ca...",94109,700 geary street,0
12,12,1006,1175,cha cha cha,"caribbean,latin, bar,spanish,pub,cuban",4158241502,"seating, waitstaff, serves alcohol",94110,2327 mission street,cha cha cha,"tapas bars,latin american",4153867670,"takeout, creditcard, bikeparking, goodforgroups, waiterservice, caters",94117,1801 haight street,0
13,13,1007,968,tara indian cuisine,indian,4158616655,"takeout, seating, waitstaff",94114,2217 market street,tara indian cuisine,indian,4158616655,"reservations, delivery, takeout, creditcard, bikeparking, goodforkids, goodforgroups, hastv, wai...",94114,2217 market street,0
14,14,1008,1127,the market,"sushi,vegan options",NaN,"takeout, wheelchair accessible",94103,1355 market street,blue bottle coffee,coffee & tea,5106533394,"takeout, creditcard, applepay, bikeparking, outdoorseating",94103,1355 market street,0
15,15,1008,1224,the market,"sushi,vegan options",NaN,"takeout, wheelchair accessible",94103,1355 market street,azalinas,"malaysian,chicken shop,soup",4156602020,"delivery, takeout, creditcard, bikeparking, goodforkids, goodforgroups, outdoorseating, hastv, c...",94103,1355 market street,0
16,16,1008,2924,the market,"sushi,vegan options",NaN,"takeout, wheelchair accessible",94103,1355 market street,blue bottle coffee,coffee & tea,5106533394,"takeout, creditcard, applepay, bikeparking, outdoorseating",94103,1355 market street,0
17,17,1011,1199,marnee thai - ninth,"asian,thai",4157319999,"takeout, seating, waitstaff, reservations, serves alcohol",94122,1243 9th avenue,marnee thai,thai,4157319999,"reservations, delivery, takeout, creditcard, bikeparking, goodforkids, goodforgroups, waiterserv...",94122,1243 9th avenue,0
18,18,1012,589,cafe isabella,"cafe,mexican",NaN,seating,94133,1414 taylor street,cafe isabella,"coffee & tea,breakfast & brunch,sandwiches",4153783241,"takeout, creditcard, goodforkids, outdoorseating",94133,1414 taylor street,0
19,19,1013,1019,martuni's bar,"international,pub",4152410205,"seating, serves alcohol, waitstaff, wheelchair accessible",2708,"4 valencia street,at corner of market street",martunis,"lounges,karaoke",4152410205,"creditcard, goodforgroups",94103,4 valencia street,0
20,20,1013,2061,martuni's bar,"international,pub",4152410205,"seating, serves alcohol, waitstaff, wheelchair accessible",4383,"4 valencia street,at corner of market street",henri hubert,"men's clothing,women's clothing,antiques",4157637770,creditcard,94103,845 market street fl 4,0
21,21,1014,834,craftsman and wolves,"american,cafe, contemporary,french",4158551414,"accepts american express, accepts mastercard, accepts visa, accepts discover, seating, wheelcha...",94109,1643 pacific avenue,craftsman and wolves - the den,"coffee & tea,bakeries,sandwiches",4154233337,"takeout, creditcard, bikeparking, outdoorseating, caters",94124,1598 yosemite avenue,0
22,22,1014,973,craftsman and wolves,"american,cafe, contemporary,french",4158551414,"accepts american express, accepts mastercard, accepts visa, accepts discover, seating, wheelcha...",94109,1643 pacific avenue,craftsman and wolves,"bakeries,cafes,patisserie/cake shop",4159137713,"takeout, creditcard, bikeparking, goodforkids, goodforgroups, outdoorseating, caters",94110,746 valencia street,0
23,23,1015,1820,ajisen ramen,"japanese,asian",4153570288,"seating, waitstaff, wheelchair accessible, takeout",94103,865 market street,spa nordstrom,"day spas,massage,cosmetics & beauty supply",4159775102,creditcard,94103,865 market street,0
24,24,1015,1989,ajisen ramen,"japanese,asian",4153570288,"seating, waitstaff, wheelchair accessible, takeout",94103,865 market street,club monaco san francisco - womens,women's clothing,4158560828,"creditcard, bikeparking",94108,865 market street,0
25,25,1015,2616,ajisen ramen,"japanese,asian",4153570288,"seating, waitstaff, wheelchair accessible, takeout",94103,865 market street,soho,accessories,4155431021,creditcard,94105,865 market street,0
26,26,1015,2864,ajisen ramen,"japanese,asian",4153570288,"seating, waitstaff, wheelchair accessible, takeout",94103,865 market street,soho,accessories,4155431021,creditcard,94105,865 market street,0
27,27,1018,1033,udupi palace,"indian,gluten free options",4154478400,"delivery, takeout, seating, waitstaff, wheelchair accessible",2831,1007 valencia street,udupi palace,"indian,vegetarian",4159708000,"reservations, delivery, takeout, bikeparking, goodforkids, goodforgroups, waiterservice, caters",94110,1007 valencia street,0
28,28,102,2281,morton's - the steakhouse,"american,steakhouse",4159865830,"reservations, private dining, seating, waitstaff, television, wheelchair accessible, serves alc...",94102,400 post street,mortons the steakhouse,steakhouses,4159865830,"reservations, creditcard, bikeparking, goodforgroups, hastv, waiterservice",94102,400 post street lower level,0
29,29,1020,1029,dim sum club,"chinese,asian",4155292615,"takeout, seating, waitstaff",94109,2250 van ness avenue,lim_n rotisserie,"latin american,peruvian,tapas/small plates",4158212134,"reservations, takeout, creditcard, bikeparking, goodforgroups, hastv, waiterservice, caters",94110,1001 s van ness avenue,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3954,3954,963,966,walzwerk,"german,european, central european",4155517181,"reservations, seating, waitstaff, serves alcohol",94103,381 s van ness avenue,urban putt,"mini golf,american (new),bars",4153411080,"reservations, creditcard, bikeparking, goodforkids, goodforgroups, hastv, waiterservice",94110,1096 s van ness avenue,NaN
3955,3955,963,989,walzwerk,"german,european, central european",4155517181,"reservations, seating, waitstaff, serves alcohol",94103,381 s van ness avenue,walzwerk,german,4155517181,"reservations, takeout, creditcard, bikeparking, goodforgroups, waiterservice",94103,381 s van ness avenue,NaN
3956,3956,963,998,walzwerk,"german,european, central european",4155517181,"reservations, seating, waitstaff, serves alcohol",94103,381 s van ness avenue,august 1 five,"indian,cocktail bars,salad",4157715900,"reservations, takeout, creditcard, goodforkids, goodforgroups, waiterservice, caters",94102,524 van ness avenue,NaN
3957,3957,966,1119,roti indian bistro,"indian,vegetarian friendly",4156657684,"takeout, reservations, seating, waitstaff, serves alcohol, wheelchair accessible",94127,53 w portal avenue,trattoria da vittorio,"italian,pizza",4157420300,"takeout, creditcard, bikeparking, goodforkids, goodforgroups, outdoorseating, hastv, waiterservi...",94127,150 w portal avenue,NaN
3958,3958,966,2152,roti indian bistro,"indian,vegetarian friendly",4156657684,"takeout, reservations, seating, waitstaff, serves alcohol, wheelchair accessible",94127,53 w portal avenue,white rose boutique,women's clothing,4156815411,"creditcard, bikeparking",94127,242 w portal avenue,NaN
3959,3959,966,2154,roti indian bistro,"indian,vegetarian friendly",4156657684,"takeout, reservations, seating, waitstaff, serves alcohol, wheelchair accessible",94127,53 w portal avenue,edible arrangements,"gift shops,chocolatiers & shops",4157313120,"creditcard, bikeparking",94127,312 w portal avenue,NaN
3960,3960,966,2916,roti indian bistro,"indian,vegetarian friendly",4156657684,"takeout, reservations, seating, waitstaff, serves alcohol, wheelchair accessible",94127,53 w portal avenue,trattoria da vittorio,"italian,pizza",4157420300,"takeout, creditcard, bikeparking, goodforkids, goodforgroups, outdoorseating, hastv, waiterservi...",94127,150 w portal avenue,NaN
3961,3961,966,530,roti indian bistro,"indian,vegetarian friendly",4156657684,"takeout, reservations, seating, waitstaff, serves alcohol, wheelchair accessible",94127,53 w portal avenue,greenhouse cafe,"coffee & tea,cafes,tea rooms",4157425545,"takeout, creditcard, bikeparking, goodforkids, goodforgroups, outdoorseating",94127,329 w portal avenue,NaN
3962,3962,967,1415,the barrel room,NaN,4159569600,"reservations, television, highchairs available, serves alcohol, full bar, wine and beer, accept...",94111,415 sansome street,the barrel room,"wine bars,american (new),cocktail bars",4159566900,"reservations, takeout, creditcard, bikeparking, goodforgroups, hastv, waiterservice",94111,415 sansome street,NaN
3963,3963,968,1124,pork store cafe,"american,cafe",4156265523,"takeout, seating, waitstaff, television, serves alcohol",94103,3122 16th street,pork store cafe,"breakfast & brunch,coffee & tea",4158646981,"takeout, creditcard, bikeparking, goodforkids, waiterservice",94117,1451 haight street,NaN
3964,3964,968,2921,pork store cafe,"american,cafe",4156265523,"takeout, seating, waitstaff, television, serves alcohol",94103,3122 16th street,pork store cafe,"breakfast & brunch,coffee & tea",4158646981,"takeout, creditcard, bikeparking, goodforkids, waiterservice",94117,1451 haight street,NaN
3965,3965,97,1402,scala's bistro,"italian,american,european,gluten free options",4153958555,"takeout, reservations, seating, waitstaff, highchairs available, wheelchair accessible, serves ...",94102,432 powell street,scalas bistro,italian,4153958555,"reservations, creditcard, goodforgroups, waiterservice",94102,432 powell street,NaN
3966,3966,973,1382,el mansour,"moroccan,mediterranean,middle eastern,halal",4157512312,"reservations, seating, waitstaff",94121,3119 clement street,el mansour,moroccan,4157512312,"reservations, creditcard, bikeparking, goodforkids, goodforgroups, waiterservice",94121,3119 clement street,NaN
3967,3967,973,2956,el mansour,"moroccan,mediterranean,middle eastern,halal",4157512312,"reservations, seating, waitstaff",94121,3119 clement street,el mansour,moroccan,4157512312,"reservations, creditcard, bikeparking, goodforkids, goodforgroups, waiterservice",94121,3119 clement street,NaN
3968,3968,983,1291,kabuto sushi,"japanese,sushi,asian",4157525652,"reservations, seating, waitstaff, takeout",94118,5121 geary boulevard,kabuto restaurant,"sushi bars,japanese",4157525652,"reservations, takeout, creditcard, bikeparking, waiterservice",94118,5121 geary boulevard,NaN
3969,3969,985,1337,mason pacific,american,4153747185,"reservations, seating, waitstaff, serves alcohol",94133,1358 mason street,mason pacific,"american (new),seafood",4153747185,"reservations, creditcard, goodforgroups, outdoorseating, waiterservice",94133,1358 mason street,NaN
3970,3970,986,1469,nob hill club,NaN,4153923434,"seating, waitstaff, serves alcohol, wheelchair accessible",94108,"1 nob hill circle,intercontinental mark hopkins",top of the mark,"breakfast & brunch,cocktail bars,tapas/small plates",4153923434,"creditcard, goodforgroups, waiterservice",94108,999 california street,NaN
3971,3971,986,1958,nob hill club,NaN,4153923434,"seating, waitstaff, serves alcohol, wheelchair accessible",94108,"1 nob hill circle,intercontinental mark hopkins",intercontinental mark hopkins,hotels,4153923434,creditcard,94108,999 california street,NaN
3972,3972,986,2228,nob hill club,NaN,4153923434,"seating, waitstaff, serves alcohol, wheelchair accessible",94108,"1 nob hill circle,intercontinental mark hopkins",nob hill club,"american (new),lounges,wine bars",4153923434,"reservations, takeout, creditcard, goodforkids, goodforgroups, hastv, waiterservice",94108,1 nob hill cir,NaN
3973,3973,986,2454,nob hill club,NaN,4153923434,"seating, waitstaff, serves alcohol, wheelchair accessible",94108,"1 nob hill circle,intercontinental mark hopkins",nob hill restaurant,american (new),4153923434,"reservations, creditcard, goodforkids, goodforgroups, waiterservice",94108,999 california street,NaN
3974,3974,989,1271,3rd cousin,american,4158143709,"reservations, waitstaff, wheelchair accessible",94110,919 cortland avenue,3rd cousin,american (new),4158143709,"reservations, creditcard, bikeparking, goodforgroups, waiterservice, caters",94110,919 cortland avenue,NaN
3975,3975,99,1078,swan oyster depot,"american,seafood,soups",4156731101,"takeout, waitstaff, serves alcohol",94109,1517 polk street,swan oyster depot,seafood,4156731101,"takeout, bikeparking, waiterservice",94109,1517 polk street,NaN
3976,3976,99,2885,swan oyster depot,"american,seafood,soups",4156731101,"takeout, waitstaff, serves alcohol",94109,1517 polk street,swan oyster depot,seafood,4156731101,"takeout, bikeparking, waiterservice",94109,1517 polk street,NaN
3977,3977,991,1357,cocotte,"french,european",4152924415,"reservations, seating, waitstaff, serves alcohol",94109,1521 hyde street,cocotte,french,4152924415,"reservations, takeout, creditcard, outdoorseating, waiterservice",94109,1521 hyde street,NaN
3978,3978,994,504,spiazzo ristorante,italian,4156649511,"reservations, seating, waitstaff, wheelchair accessible, serves alcohol",94127,33 west portal avenue,portals tavern,"pubs,sports bars",4157311208,"bikeparking, goodforgroups, outdoorseating, hastv",94127,179 west portal avenue,NaN
3979,3979,994,762,spiazzo ristorante,italian,4156649511,"reservations, seating, waitstaff, wheelchair accessible, serves alcohol",94127,33 west portal avenue,peets coffee,coffee & tea,4157310375,"takeout, creditcard, applepay, bikeparking, outdoorseating",94127,54 west portal avenue,NaN
3980,3980,996,1212,sushi bistro,"japanese,sushi,asian",4159337100,"takeout, seating, serves alcohol, waitstaff",94118,431 balboa street,sushi bistro,"sushi bars,japanese",4159337100,"reservations, takeout, creditcard, goodforkids, goodforgroups, hastv, waiterservice, caters",94118,431 balboa street,NaN
3981,3981,998,1989,san francisco athletic club,"bar,pub,american",4159238989,"reservations, television, wheelchair accessible, delivery, takeout, parking available, street p...",94115,1750 divisadero street,club monaco san francisco - womens,women's clothing,4158560828,"creditcard, bikeparking",94108,865 market street,NaN
3982,3982,998,2433,san francisco athletic club,"bar,pub,american",4159238989,"reservations, television, wheelchair accessible, delivery, takeout, parking available, street p...",94115,1750 divisadero street,equinox sports club san francisco,"gyms,sports clubs,day spas",4156333900,"creditcard, bikeparking",94103,747 market street,NaN
3983,3983,999,997,three 9 eight brasserie,NaN,NaN,"reservations, waitstaff",94102,398 geary street,benjamin cooper,bars,4156545061,"creditcard, bikeparking, goodforgroups",94102,398 geary street,NaN

In [46]:
M = em.read_csv_metadata('./All_candidate.csv', key='_id', ltable=A, rtable=B, 
                          fk_ltable='ltable_id',fk_rtable='rtable_id',dtype='str')
M['ltable_zipcode'] = M['ltable_zipcode'].map(lambda x: np.random.randint(5000) if pd.isnull(x) else int(x))
M['rtable_zipcode'] = M['rtable_zipcode'].map(lambda x: np.random.randint(5000) if pd.isnull(x) else int(x))
M['ltable_phone'] = M['ltable_phone'].map(lambda x: np.random.randint(500000) if pd.isnull(x) else int(x))
M['rtable_phone'] = M['rtable_phone'].map(lambda x: np.random.randint(500000) if pd.isnull(x) else int(x))

for t in list(M):
    M[t] = M[t].map(lambda x: 'na' if pd.isnull(x) else x)
        
M['gold'] = M['gold'].map(lambda x: 0 if x=='0' else 1)

In [47]:
print('number of tuples in M :{}'.format(M.shape[0]))
print('number of matching tuples in M: {}'.format(np.sum(M['gold']==1)))
print('number of matching tuples in M: {}'.format(np.sum(M['gold']==0)))

number of tuples in M :3984
number of matching tuples in M: 0
number of matching tuples in M: 3984

Fill empty zipcode and phone number values with random number, because we don't want two null values have same values.

In [18]:
G['ltable_zipcode'] = G['ltable_zipcode'].map(lambda x: np.random.randint(5000) if pd.isnull(x) else int(x))
G['rtable_zipcode'] = G['rtable_zipcode'].map(lambda x: np.random.randint(5000) if pd.isnull(x) else int(x))
G['ltable_phone'] = G['ltable_phone'].map(lambda x: np.random.randint(500000) if pd.isnull(x) else int(x))
G['rtable_phone'] = G['rtable_phone'].map(lambda x: np.random.randint(500000) if pd.isnull(x) else int(x))

for t in list(G):
    G[t] = G[t].map(lambda x: 'na' if pd.isnull(x) else x)
        
G['gold'] = G['gold'].map(lambda x: 0 if x=='0' else 1)

In [19]:
print('number of tuples in G :{}'.format(G.shape[0]))
print('number of matching tuples in G: {}'.format(np.sum(G['gold']==1)))
print('number of matching tuples in G: {}'.format(np.sum(G['gold']==0)))

number of tuples in G :486
number of matching tuples in G: 136
number of matching tuples in G: 350

### Testing a set of ML-matchers

In [20]:
# Create a set of ML-matchers
dt = em.DTMatcher(name='DecisionTree', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
rf = em.RFMatcher(name='RF', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')
nb = em.NBMatcher(name='NaiveBayes')

### Use auto-generated feature vectors

In [21]:
# Generate features
feature_table = em.get_features_for_matching(A, B)
feature_table['feature_name']

0                                  id_id_lev_dist
1                                   id_id_lev_sim
2                                       id_id_jar
3                                       id_id_jwn
4                                       id_id_exm
5                           id_id_jac_qgm_3_qgm_3
6                     title_title_jac_qgm_3_qgm_3
7                 title_title_cos_dlm_dc0_dlm_dc0
8                 title_title_jac_dlm_dc0_dlm_dc0
9                                 title_title_mel
10                           title_title_lev_dist
11                            title_title_lev_sim
12                                title_title_nmw
13                                 title_title_sw
14                cuisine_cuisine_jac_qgm_3_qgm_3
15            cuisine_cuisine_cos_dlm_dc0_dlm_dc0
16            cuisine_cuisine_jac_dlm_dc0_dlm_dc0
17                            cuisine_cuisine_mel
18                       cuisine_cuisine_lev_dist
19                        cuisine_cuisine_lev_sim
20                            cuisine_cuisine_nmw
21                             cuisine_cuisine_sw
22                           phone_phone_lev_dist
23                            phone_phone_lev_sim
24                                phone_phone_jar
25                                phone_phone_jwn
26                                phone_phone_exm
27                    phone_phone_jac_qgm_3_qgm_3
28                       zipcode_zipcode_lev_dist
29                        zipcode_zipcode_lev_sim
30                            zipcode_zipcode_jar
31                            zipcode_zipcode_jwn
32                            zipcode_zipcode_exm
33                zipcode_zipcode_jac_qgm_3_qgm_3
34        street_addr_street_addr_jac_qgm_3_qgm_3
35    street_addr_street_addr_cos_dlm_dc0_dlm_dc0
36    street_addr_street_addr_jac_dlm_dc0_dlm_dc0
37                    street_addr_street_addr_mel
38               street_addr_street_addr_lev_dist
39                street_addr_street_addr_lev_sim
40                    street_addr_street_addr_nmw
41                     street_addr_street_addr_sw
Name: feature_name, dtype: object

### Maunually add more features

In [22]:
match_t = em.get_tokenizers_for_matching()
match_s = em.get_sim_funs_for_matching()
match_f = em.get_features_for_matching(A, B)
r1 = em.get_feature_fn('overlap_coeff(qgm_3(ltuple.title), qgm_3(rtuple.title))', match_t, match_s)
r2 = em.get_feature_fn('overlap_coeff(qgm_3(ltuple.street_addr), qgm_3(rtuple.street_addr))', match_t, match_s)

In [23]:
em.add_feature(feature_table, 'title_title_overlap_qgm3_qgm3', r1)
em.add_feature(feature_table, 'street_addr_street_addr_overlap_qgm3_qgm3', r1)
feature_table['feature_name']

0                                  id_id_lev_dist
1                                   id_id_lev_sim
2                                       id_id_jar
3                                       id_id_jwn
4                                       id_id_exm
5                           id_id_jac_qgm_3_qgm_3
6                     title_title_jac_qgm_3_qgm_3
7                 title_title_cos_dlm_dc0_dlm_dc0
8                 title_title_jac_dlm_dc0_dlm_dc0
9                                 title_title_mel
10                           title_title_lev_dist
11                            title_title_lev_sim
12                                title_title_nmw
13                                 title_title_sw
14                cuisine_cuisine_jac_qgm_3_qgm_3
15            cuisine_cuisine_cos_dlm_dc0_dlm_dc0
16            cuisine_cuisine_jac_dlm_dc0_dlm_dc0
17                            cuisine_cuisine_mel
18                       cuisine_cuisine_lev_dist
19                        cuisine_cuisine_lev_sim
20                            cuisine_cuisine_nmw
21                             cuisine_cuisine_sw
22                           phone_phone_lev_dist
23                            phone_phone_lev_sim
24                                phone_phone_jar
25                                phone_phone_jwn
26                                phone_phone_exm
27                    phone_phone_jac_qgm_3_qgm_3
28                       zipcode_zipcode_lev_dist
29                        zipcode_zipcode_lev_sim
30                            zipcode_zipcode_jar
31                            zipcode_zipcode_jwn
32                            zipcode_zipcode_exm
33                zipcode_zipcode_jac_qgm_3_qgm_3
34        street_addr_street_addr_jac_qgm_3_qgm_3
35    street_addr_street_addr_cos_dlm_dc0_dlm_dc0
36    street_addr_street_addr_jac_dlm_dc0_dlm_dc0
37                    street_addr_street_addr_mel
38               street_addr_street_addr_lev_dist
39                street_addr_street_addr_lev_sim
40                    street_addr_street_addr_nmw
41                     street_addr_street_addr_sw
42                  title_title_overlap_qgm3_qgm3
43      street_addr_street_addr_overlap_qgm3_qgm3
Name: feature_name, dtype: object

In [48]:
GT = em.extract_feature_vecs(G, 
                            feature_table=feature_table, 
                            attrs_after=['gold'],
                            show_progress=False)
GT.fillna(0, inplace=True)
GT.head(5)

,_id,ltable_id,rtable_id,id_id_lev_dist,id_id_lev_sim,id_id_jar,id_id_jwn,id_id_exm,id_id_jac_qgm_3_qgm_3,title_title_jac_qgm_3_qgm_3,...,street_addr_street_addr_cos_dlm_dc0_dlm_dc0,street_addr_street_addr_jac_dlm_dc0_dlm_dc0,street_addr_street_addr_mel,street_addr_street_addr_lev_dist,street_addr_street_addr_lev_sim,street_addr_street_addr_nmw,street_addr_street_addr_sw,title_title_overlap_qgm3_qgm3,street_addr_street_addr_overlap_qgm3_qgm3,gold
0,312,1013,458,4,0.00,0.000000,0.000000,0,0.0,0.222222,...,0.218218,0.111111,0.521465,31.0,0.295455,-13.0,9.0,0.571429,0.571429,0
1,423,1020,507,3,0.25,0.527778,0.527778,0,0.0,0.238095,...,0.000000,0.000000,0.524405,17.0,0.150000,-1.0,3.0,0.416667,0.416667,0
2,868,1104,2652,4,0.00,0.000000,0.000000,0,0.0,0.108696,...,0.000000,0.000000,0.489815,18.0,0.100000,0.0,4.0,0.238095,0.238095,0
3,902,1104,810,2,0.50,0.722222,0.722222,0,0.0,0.195122,...,0.000000,0.000000,0.536700,19.0,0.136364,-1.0,4.0,0.421053,0.421053,0
4,910,1104,913,3,0.25,0.527778,0.527778,0,0.0,0.053571,...,0.000000,0.000000,0.451852,17.0,0.055556,1.0,3.0,0.103448,0.103448,0

In [49]:
MT = em.extract_feature_vecs(M, 
                            feature_table=feature_table, 
                            attrs_after=['gold'],
                            show_progress=False)
MT.fillna(0, inplace=True)
MT.head(5)

,_id,ltable_id,rtable_id,id_id_lev_dist,id_id_lev_sim,id_id_jar,id_id_jwn,id_id_exm,id_id_jac_qgm_3_qgm_3,title_title_jac_qgm_3_qgm_3,...,street_addr_street_addr_cos_dlm_dc0_dlm_dc0,street_addr_street_addr_jac_dlm_dc0_dlm_dc0,street_addr_street_addr_mel,street_addr_street_addr_lev_dist,street_addr_street_addr_lev_sim,street_addr_street_addr_nmw,street_addr_street_addr_sw,title_title_overlap_qgm3_qgm3,street_addr_street_addr_overlap_qgm3_qgm3,gold
0,0,0,2285,4.0,0.00,0.000000,0.000000,0,0.000000,0.592593,...,0.0,0.0,0.450538,17.0,0.105263,-1.0,3.0,0.888889,0.888889,0
1,1,1,1267,3.0,0.25,0.750000,0.775000,0,0.125000,1.000000,...,1.0,1.0,1.000000,0.0,1.000000,18.0,18.0,1.000000,1.000000,0
2,2,10,1105,2.0,0.50,0.833333,0.850000,0,0.111111,1.000000,...,1.0,1.0,1.000000,0.0,1.000000,17.0,17.0,1.000000,1.000000,0
3,3,10,2734,4.0,0.00,0.000000,0.000000,0,0.000000,1.000000,...,1.0,1.0,1.000000,0.0,1.000000,17.0,17.0,1.000000,1.000000,0
4,4,10,2902,3.0,0.25,0.583333,0.583333,0,0.000000,1.000000,...,1.0,1.0,1.000000,0.0,1.000000,17.0,17.0,1.000000,1.000000,0

In [50]:
matcher = lg
matcher.fit(table=GT, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
       target_attr='gold')
# Predict on L 
predictions = matcher.predict(table=MT, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)

# Evaluate the predictions
eval_result = em.eval_matches(predictions, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Precision : 0.0% (0/1006)
Recall : 0.0% (0/0)
F1 : 0.0%
False positives : 1006 (out of 1006 positive predictions)
False negatives : 0 (out of 2978 negative predictions)

In [51]:
predictions.head()

,_id,ltable_id,rtable_id,id_id_lev_dist,id_id_lev_sim,id_id_jar,id_id_jwn,id_id_exm,id_id_jac_qgm_3_qgm_3,title_title_jac_qgm_3_qgm_3,...,street_addr_street_addr_jac_dlm_dc0_dlm_dc0,street_addr_street_addr_mel,street_addr_street_addr_lev_dist,street_addr_street_addr_lev_sim,street_addr_street_addr_nmw,street_addr_street_addr_sw,title_title_overlap_qgm3_qgm3,street_addr_street_addr_overlap_qgm3_qgm3,gold,predicted
0,0,0,2285,4.0,0.00,0.000000,0.000000,0,0.000000,0.592593,...,0.0,0.450538,17.0,0.105263,-1.0,3.0,0.888889,0.888889,0,0
1,1,1,1267,3.0,0.25,0.750000,0.775000,0,0.125000,1.000000,...,1.0,1.000000,0.0,1.000000,18.0,18.0,1.000000,1.000000,0,1
2,2,10,1105,2.0,0.50,0.833333,0.850000,0,0.111111,1.000000,...,1.0,1.000000,0.0,1.000000,17.0,17.0,1.000000,1.000000,0,1
3,3,10,2734,4.0,0.00,0.000000,0.000000,0,0.000000,1.000000,...,1.0,1.000000,0.0,1.000000,17.0,17.0,1.000000,1.000000,0,1
4,4,10,2902,3.0,0.25,0.583333,0.583333,0,0.000000,1.000000,...,1.0,1.000000,0.0,1.000000,17.0,17.0,1.000000,1.000000,0,1

In [65]:
MG = M.copy()
MG['gold'] = predictions['predicted']
MK = MG.ix[MG['gold']==1]
MK.head()
MK.to_csv('matched_data.csv', index=False)

### Split the dataset G into development set and testing set

In [24]:
IJ = em.split_train_test(G, train_proportion=0.7, random_state=0)
I = IJ['train']
J = IJ['test']

In [25]:
# Convert the I into a set of feature vectors using F


H = em.extract_feature_vecs(I, 
                            feature_table=feature_table, 
                            attrs_after=['gold'],
                            show_progress=False)
H.fillna(0, inplace=True)
H.head(5)

,_id,ltable_id,rtable_id,id_id_lev_dist,id_id_lev_sim,id_id_jar,id_id_jwn,id_id_exm,id_id_jac_qgm_3_qgm_3,title_title_jac_qgm_3_qgm_3,...,street_addr_street_addr_cos_dlm_dc0_dlm_dc0,street_addr_street_addr_jac_dlm_dc0_dlm_dc0,street_addr_street_addr_mel,street_addr_street_addr_lev_dist,street_addr_street_addr_lev_sim,street_addr_street_addr_nmw,street_addr_street_addr_sw,title_title_overlap_qgm3_qgm3,street_addr_street_addr_overlap_qgm3_qgm3,gold
64,338,1254,2154,2,0.500000,0.916667,0.916667,0,0.200000,0.0,...,0.750000,0.6,0.946394,3.0,0.842105,15.0,16.0,0.0,0.0,0
301,945,186,124,2,0.333333,0.555556,0.600000,0,0.111111,1.0,...,0.333333,0.2,0.603704,10.0,0.444444,7.0,8.0,1.0,1.0,0
411,2049,2975,2707,3,0.250000,0.666667,0.700000,0,0.090909,0.0,...,1.000000,1.0,1.000000,0.0,1.000000,16.0,16.0,0.0,0.0,0
81,695,162,572,2,0.333333,0.555556,0.555556,0,0.111111,0.0,...,0.774597,0.6,0.914130,7.0,0.695652,9.0,12.0,0.0,0.0,0
347,1454,2439,130,3,0.250000,0.527778,0.527778,0,0.000000,1.0,...,1.000000,1.0,1.000000,0.0,1.000000,16.0,16.0,1.0,1.0,1

In [26]:
# Select the best ML matcher using CV by precision
result = em.select_matcher([dt, rf, svm, ln, lg, nb], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'],
        k=5,
        target_attr='gold', metric='precision', random_state=0)
result['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x1163f8668>,5,0.904762,0.900000,0.800000,0.928571,0.950000,0.896667
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x1163f85c0>,5,1.000000,1.000000,0.772727,1.000000,1.000000,0.954545
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x1163f8630>,5,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
3,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x1163f81d0>,5,1.000000,0.954545,0.900000,1.000000,0.944444,0.959798
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x1163f85f8>,5,1.000000,0.954545,0.857143,0.933333,1.000000,0.949004
5,NaiveBayes,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x1163f8b38>,5,0.913043,1.000000,0.900000,0.923077,0.944444,0.936113

In [27]:
# Select the best ML matcher using CV by recall
result = em.select_matcher([dt, rf, svm, ln, lg, nb], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'],
        k=5,
        target_attr='gold', metric='recall', random_state=0)
result['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x1163f8668>,5,0.863636,0.857143,0.888889,0.928571,0.95,0.897648
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x1163f85c0>,5,0.909091,1.000000,0.944444,0.928571,0.85,0.926421
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x1163f8630>,5,0.318182,0.476190,0.666667,0.642857,0.50,0.520779
3,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x1163f81d0>,5,0.954545,1.000000,1.000000,1.000000,0.85,0.960909
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x1163f85f8>,5,0.863636,1.000000,1.000000,1.000000,0.85,0.942727
5,NaiveBayes,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x1163f8b38>,5,0.954545,1.000000,1.000000,0.857143,0.85,0.932338

In [28]:
# Select the best ML matcher using CV by f1 score
result = em.select_matcher([dt, rf, svm, ln, lg, nb], table=H, 
        exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'],
        k=5,
        target_attr='gold', metric='f1', random_state=0)
result['cv_stats']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x1163f8668>,5,0.883721,0.878049,0.842105,0.928571,0.950000,0.896489
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x1163f85c0>,5,0.952381,1.000000,0.850000,0.962963,0.918919,0.936853
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x1163f8630>,5,0.482759,0.645161,0.800000,0.782609,0.666667,0.675439
3,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x1163f81d0>,5,0.976744,0.976744,0.947368,1.000000,0.894737,0.959119
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x1163f85f8>,5,0.926829,0.976744,0.923077,0.965517,0.918919,0.942217
5,NaiveBayes,<py_entitymatching.matcher.nbmatcher.NBMatcher object at 0x1163f8b38>,5,0.933333,1.000000,0.947368,0.888889,0.894737,0.932865

### Debugging matcher

To find if there is any labeling error or attribute extraction error.

Split the development set into two equal set U and V for training and testing, respectively.

In [29]:

UV = em.split_train_test(H, train_proportion=0.5,random_state=0)
U = UV['train']
V = UV['test']

In [30]:
em.vis_debug_rf(rf, U, V, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], target_attr='gold')

In [31]:
em.vis_debug_dt(dt, U, V, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], target_attr='gold')

**We fixed mislabeled tuples by examing the debugger, and find that the random forest and decision tree is weak in minimizing false negatives. Matching tuples with title or address overlaped are not detected. **

After debugging, we reached the satisfying precision and recall rate and chose Logisitc Regression as the best matchers.

In [32]:
# Convert J into a set of feature vectors using feature table
L = em.extract_feature_vecs(J, feature_table=feature_table,
                            attrs_after='gold', show_progress=False)
L.fillna(0, inplace=True)

In [33]:
matcher = lg
matcher.fit(table=H, 
       exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
       target_attr='gold')
# Predict on L 
predictions = matcher.predict(table=L, exclude_attrs=['_id', 'ltable_id', 'rtable_id', 'gold'], 
              append=True, target_attr='predicted', inplace=False)

# Evaluate the predictions
eval_result = em.eval_matches(predictions, 'gold', 'predicted')
em.print_eval_summary(eval_result)

Precision : 100.0% (38/38)
Recall : 92.68% (38/41)
F1 : 96.2%
False positives : 0 (out of 38 positive predictions)
False negatives : 3 (out of 108 negative predictions)

In [72]:
a = 'Indian,Gluten Free Options'
A = a.split(',')

In [73]:
b = 'Indian,Vegetarian'
B = b.split(',')

In [75]:
resulting_list = list(A)
resulting_list.extend(x for x in B if x not in resulting_list)
', '.join(resulting_list)

'Indian, Gluten Free Options, Vegetarian'

In [104]:
trip_price = '$30.4 -$35'
yelp_price = '$11-30'

In [105]:
prices_A = re.split('\$|-| -|\n', trip_price)
prices_B = re.split('\$|-| -|\n', yelp_price)
prices = prices_A + prices_B
nums = [s for s in prices if s.replace('.', '', 1).isdigit()]

In [106]:
nums

['30.4', '35', '11', '30']

In [86]:
nums = [s for s in rating.split() if s.replace('.','',1).isdigit()]
'/'.join(nums)

'4.0/5.0'

In [ ]:
new